.wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px 0px;
  margin-top: 40px;

  .content {
    width: 100%;
    display: flex;
  }
}

.introduction {
  width: 70%;

  .title {
    font-size: 36px;
    font-weight: 600;
    margin: 25px 0px;
  }

  .desp {
    font-size: 16px;
    line-height: 30px;
    margin: 18px 0px;
  }
}

.img {
  height: 275px;
  aspect-ratio: auto 183 / 275;
  width: 183px;
  border-radius: 2rem;
}
